.location-wrapper {
  width: 70%;
  margin-left: 10px;
}
.coordinate {
  padding-left: 20px;
  font-size: 20px;
  border: solid black 1px;
  margin-bottom: 10px;
}
.map {
  height: 879px;
  width: 100%;
}
